@import '../colours';

.nixos-image {
  margin-left: 5px;
  margin-right: 5px;
}

.power-menu {
  background-color: $base00;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid $base03;
  padding: 5px;
}

.power-menu>.power-menu-row>.widget-container {
  background-color: $base01;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.widget-container>.user-label {
  margin-top: 10px;
  color: $base05
}

.widget-container>.button {
  color: $base00;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.widget-container>.button>.button {
  border-radius: 5px;
}

.widget-container>.button.shutdown {
  background-color: $base08
}

.widget-container>.button.shutdown>.button:hover {
  background-color: lighten($base08, 7%);
}

.widget-container>.button.shutdown>.button>.inner>.label {
  margin-right: 5px;
}

.widget-container>.button.restart {
  background-color: $base09
}

.widget-container>.button.restart>.button:hover {
  background-color: lighten($base09, 7%);
}

.widget-container>.button.restart>.button>.inner>.label {
  margin-right: 5px;
}

.widget-container>.button.logout {
  background-color: $base0A
}

.widget-container>.button.logout>.button:hover {
  background-color: lighten($base0A, 7%);
}

.widget-container>.button.sleep {
  background-color: $base05
}

.widget-container>.button.sleep>.button:hover {
  background-color: lighten($base09, 7%);
}

.widget-container>.button.app-shortcut,
.widget-container>.button.action-shortcut {
  background-color: $base0D;
  margin: 10px;
}

.widget-container>.button.app-shortcut>.button:hover,
.widget-container>.button.action-shortcut>.button:hover {
  background-color: lighten($base0D, 7%);
}

.widget-container>.button.app-shortcut>.button>.inner>.label {
  padding-top: 5px;
  padding-bottom: 5px;
}

.widget-container>.button.app-shortcut.browser>.button>.inner>.label {
  margin-right: 4px;
}

.widget-container>.button.app-shortcut.discord>.button>.inner>.label {
  margin-right: 8px;
}

.widget-container>.button.app-shortcut.spotify>.button>.inner>.label {
  margin-right: 5px;
}

.widget-container>.button.app-shortcut.terminal>.button>.inner>.label {
  font-size: 25px;
  margin-right: 2px;
}

.widget-container>.button.action-shortcut.youtube>.button>.inner>.label {
  margin-right: 8px;
}

.widget-container>.button.action-shortcut.reddit>.button>.inner>.label {
  font-size: 25px;
  margin-right: 4px;
}

.widget-container>.button.action-shortcut.github>.button>.inner>.label {
  margin-right: 3px;
  font-size: 25px;
}

.widget-container>.button.action-shortcut.mynixos>.button>.inner>.label {
  margin-right: 8px;
  font-size: 25px;
}

.widget-container.system-utilities>.button>.button>.inner {
  padding-top: 5px;
  padding-bottom: 5px;
}

.widget-container>.button.wifi {
  background-color: $base0F;
}

.widget-container>.button.wifi>.button:hover {
  background-color: lighten($base0F, 7%);
}

.widget-container>.button.wifi>.button>.inner>.label {
  margin-right: 5px;
}

.widget-container>.button.bluetooth {
  background-color: $base0C;
}

.widget-container>.button.bluetooth>.button:hover {
  background-color: lighten($base0C, 7%);
}

.widget-container>.button.notifications {
  background-color: $base08;
}

.widget-container>.button.notifications>.button:hover {
  background-color: lighten($base08, 7%);
}

.widget-container>.button.notifications>.button>.inner>.label {
  margin-right: 5px;
}

.widget-container>.button.speakers {
  background-color: $base0B;
}

.widget-container>.button.speakers>.button:hover {
  background-color: lighten($base0B, 7%);
}

.widget-container>.button.speakers>.button>.inner>.label {
  margin-right: 8px;
}

.widget-container>.button.microphone {
  background-color: $base0E;
}

.widget-container>.button.microphone>.button:hover {
  background-color: lighten($base0E, 7%);
}

.widget-container>.button.muted {
  background-color: $base00;
  color: $base03;
}

.widget-container>.button.muted>.button:hover {
  background-color: lighten($base00, 3%);
  color: lighten($base03, 7%);
}

.widget-container>.file-shortcut {
  font-size: 18px;
  margin: 5px;
  color: $base0D;
}

.widget-container>.file-shortcut>.file-shortcut:hover {
  color: lighten($base0D, 10%);
}

.widget-container>.resource-bar-container {
  margin: 5px;
}

.widget-container>.resource-bar-container>.resource-bar>.bar-label {
  font-size: 20px;
  margin-right: 15px;
}

.resource-bar-container.cpu>.resource-bar>.bar-label {
  color: $base08;
  margin-left: 2px;
  margin-right: 13px;
}

.resource-bar-container.memory>.resource-bar>.bar-label {
  color: $base09;
}

.resource-bar-container.disk>.resource-bar>.bar-label {
  color: $base0A;
  font-size: 25px;
  margin-left: 2px;
  margin-right: 9px;
}

.widget-container>.resource-bar-container>.bar-sub-label {
  font-size: 13px;
  margin-top: -8px;
}

.widget-container>.resource-bar-container.cpu>.bar-sub-label {
  color: $base08;
}

.widget-container>.resource-bar-container.memory>.bar-sub-label {
  color: $base09;
}

.widget-container>.resource-bar-container.disk>.bar-sub-label {
  color: $base0A;
}

.resource-bar scale trough {
  all: unset;
  background-color: $base00;
  color: $base05;
  border-radius: 50px;
  min-height: 10px;
  min-width: 200px;
  margin-left: 10px;
}

.resource-bar scale trough highlight {
  all: unset;
  background-color: $base05;
  border-radius: 50px;
}

.resource-bar-container.cpu>.resource-bar scale trough highlight {
  background-color: $base08;
}

.resource-bar-container.memory>.resource-bar scale trough highlight {
  background-color: $base09;
}

.resource-bar-container.disk>.resource-bar scale trough highlight {
  background-color: $base0A;
}
