.workspaces-widget {
  margin-left: 5px;
  margin-right: 2px;
  font-size: 20px;
}

.workspace-entry {
  margin-left: 3px;
  margin-right: 8px;
}

.workspace-entry.empty {
  color: $base04;
}

.workspace-entry.occupied {
  color: $base05;
}

.workspace-entry.current {
  color: $base0D;
}
