// -----------------------
// Theme
// -----------------------

// Colours
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$font: RobotoMono Nerd Font;
$background: $crust;
$bar-background: $surface0;
$text-color: $text;
$sub-text-color: $subtext0;
$mem-color: $peach;
$bat-color: $green;
$vol-color: rgba(205, 214, 244, 1);
$light-vol-color: rgba(226, 231, 249, 1);
$dark-vol-color: rgba(184, 197, 239, 1);
$bright-color: rgba(249, 226, 175, 1);
$light-bright-color: rgba(251, 234, 198, 1);
$dark-bright-color: rgba(247, 217, 151, 1);
$current-workspace-color: $sapphire;
$workspace-color: $sub-text-color;
$empty-workspace-color: $bar-background;
$calendar-selected-color: $sapphire;
$calendar-header-color: $lavender;
$calendar-button-color: $lavender;
$calendar-highlight-color: $lavender;

// -----------------------

*{
    all: unset;
    font-family: $font;
}

//  General
.status_bar {
    background-color: rgba($background, 0%);
}

.left-modules {
  background-color: rgba($background, 100%);
  // border: 1px $text-color solid;
}

.module {
}

.right_modules {
    // background-color: rgba($background, 100%);
    // border: 1px $text-color solid;
}

.controls_widget {
    border-radius: 6px;
    background-color: rgba($background, 100%);
}

.utils_widget {
    border-radius: 6px;
    background-color: rgba($background, 100%);
}

.music_widget {
    border-radius: 6px;
    background-color: rgba($background, 100%);
}

.clock_widget {
    border-radius: 6px;
    background-color: rgba($background, 100%);
}

// Tooltip
tooltip.background {
    background-color: $background;
    font-size: 18;
    border-radius: 6px;
    color: $text-color;
}

tooltip label {
    margin: 1px;
}

// Clock widget
.clock_time_sep {
    font-size: 20;
    color: $text-color;
    margin: 0px -5px 0px -7px;
}

.clock_hour, .clock_minute {
    font-size: 23;
    color: $text-color;
}

.clock_date_class {
    font-size: 18;
    color: $sub-text-color;
    margin-right: 10px;
}

.clock_minute {
    margin-right: 10px;
}

.clock_hour {
    font-weight: bold;
    margin-left: 10px;
}
// ----------------------

// Memory widgets
.mem_module {
    background-color: $background;
    margin-left: 10px;
    margin-right: 5px;
}
.membar {
    color: $mem-color;
    background-color: $bar-background;
}

.iconmem {
    color: $mem-color;
    font-size: 15;
    margin: 10px;
}

// ----------------------

// Battery widget
.bat_module {
    background-color: $background;
    margin-left: 5px;
    margin-right: 10px;
}

.batbar {
    color: $bat-color;
    background-color: $bar-background;
}

.iconbat {
    color: $bat-color;
    font-size: 15;
    margin: 10px;
}

// ----------------------

// Wifi widget
.module-wifi {
    font-size: 22;
    color: $text-color;
    margin-right: 20px;
    margin-left: 10px;
}

.module_essid {
    font-size: 18;
    color: $sub-text-color;
    margin-left: 10px;
}

// ----------------------

// Volume widget
.volume_icon {
    font-size: 22;
    color: $vol-color;
    margin-right: 20px;
    margin-left: 10px;
}

.volbar trough highlight {
    background-image: linear-gradient(to right, $light-vol-color 30%, $vol-color 50%, $dark-vol-color 100%);
    border-radius: 10px;
}

// ----------------------

// Brightness widget
.bright_icon {
    font-size: 22;
    margin-right: 20px;
    margin-left: 10px;
    color: $bright-color;
}

.brightbar trough highlight {
    background-image: linear-gradient(to right, $light-bright-color 30%, $bright-color 50%, $dark-bright-color 100% *50);
    border-radius: 10px;
    // margin-left: 10px;
}

// ----------------------

// Generic scale scss
scale trough {
    all: unset;
    background-color: $bar-background;
    box-shadow: 0 2px 3px 2px #06060b;
    border-radius: 10px;
    min-height: 10px;
    min-width: 70px;
}

// ----------------------

// Separator widget
.separ {
    color: rgba(#e4c9af, 0%);
    background-color: rgba($background, 0%);
    font-weight: bold;
    font-size: 30;
    // margin-left: -8px;
    // margin-right: -8px;
    margin-left: 5px;
    margin-right: 5px;
}

// ----------------------

// Workspaces widget
.workspaces-widget {
    font-size: 30;
    font-weight: normal;
    background-color: $background;
    border-radius: 3px;
}

.workspace-entry {
    margin-right: 5px;
    margin-left: 5px;
}

.empty {
    color: $empty-workspace-color;
}

.occupied {
    color: $workspace-color;
}

.current {
    color: $current-workspace-color;
}

// ----------------------

// Song widget - unused
// .song_cover_art {
//     background-size: cover;
//     background-position: center;
//     min-height: 24px;
//     min-width: 24px;
//     border-radius: 100px;
// }

.song {
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.spotify_icon {
    margin-left: 10px;
    margin-right: 10px;
}

.song_btn_play {
    color: $text-color;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.song_btn_prev, .song_btn_next {
    color: $text-color;
    font-size: 28px;
}

.song_btn_prev {
    margin-left: 10px;
    margin-right: 5px;
}

.song_btn_next {
    margin-right: 10px;
    margin-left: 5px;
}

// ----------------------

// Calendar widget
.cal {
    background-color: $background;
    font-family: RobotoMono Nerd Font;
    font-size: 18px;
    font-weight: normal;
    border-radius: 3px;

    .cal-in {
        color: $text-color;
        .cal {
            padding: 5px;
            border: $text-color 1px solid;
        }
    }
}


calendar:selected {
    color: $calendar-selected-color;
    background-color: $bar-background;
}

calendar.header {
    color: $calendar-header-color;
    font-weight: bold;
}

calendar.button {
    color: $calendar-button-color;
}

calendar.highlight {
    color: $calendar-highlight-color;
    font-weight: bold;
}

calendar:indeterminate {
    color: $bar-background;
}

// ----------------------

// System widget
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: 16;
    color: $sub-text-color;
    margin-left: 10px;
}

.sys_text_bat, .sys_text_mem {
    font-size: 21;
    font-weight: bold;
    margin-left: 10px;
}

.sys_icon_bat, .sys_icon_mem {
    font-size: 30;
    margin: 30px;
}

.sys_win {
    background-color: $background;
    border-radius: 3px;
    border: $text-color 1px solid;
}

.sys_bat {
    color: $bat-color;
    background-color: $bar-background;
    border-radius: 10px;
}

.sys_mem {
    color: $mem-color;
    background-color: $bar-background;
    border-radius: 10px;
}

.sys_icon_bat, .sys_text_bat {
    color: $bat-color;
}

.sys_icon_mem, .sys_text_mem {
    color: $mem-color;
}

.sys_bat_box {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.sys_mem_box {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

// ----------------------

.music_pop {
    background-color: #0f0f17;
    border-radius: 16px;
}

.music_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 170px;
    margin: 20px;
    border-radius: 20px;
}

.music {
    color: #a1bdce;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 0px -15px;
}

.music_artist {
    color: #a1bdce;
    font-size: 16px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
    font-family: RobotoMono Nerd Font;
}

.music_btn_prev {
    color: #bbc5d7;
    font-size: 32px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.music_btn_play {
    color: #a1bdce;
    font-size: 48px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.music_btn_next {
    color: #bbc5d7;
    font-size: 32px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.music_bar scale trough {
    all: unset;
    background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
    border-radius: 24px;
    min-height: 13px;
    min-width: 190px;
    margin: -10px 10px 20px 0px;
}

// Audio widget
.audio-box {
    background-color: $background;
    border-radius: 3px;
    border: $text-color 1px solid;
}

.speaker_icon {
    background-size: cover;
    background-image: url('images/speaker.png');
    background-position: center;
    min-height: 50px;
    min-width: 75px;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.speaker_text {
    color: $vol-color;
    font-size: 26px;
    font-weight: bold;
}

.speaker_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, $light-vol-color 30%, $vol-color 50%, $dark-vol-color 100% *50);
    border-radius: 24px;
}

.speaker_bar scale trough {
    all: unset;
    background-color: $bar-background;
    border-radius: 24px;
    min-height: 13px;
    min-width: 120px;
}

.mic_icon {
    background-size: cover;
    background-image: url('images/mic.png');
    background-position: center;
    min-height: 70px;
    min-width: 75px;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.mic_text {
    color: $vol-color;
    font-size: 26px;
    font-weight: bold;
}

.mic_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, $light-vol-color 30%, $vol-color 50%, $dark-vol-color 100% *50);
    border-radius: 24px;
}

.mic_bar scale trough {
    all: unset;
    background-color: $bar-background;
    border-radius: 24px;
    min-height: 13px;
    min-width: 120px;
}

// ======================
